body {
	margin: 0;
	background-color: black;
}

iframe {
	display: none;
	border: none;
}

form {
	display: none;
}

p {
	margin-bottom: .7em;
	line-height: 1.7em;
	text-align: justify;
	text-justify: ideographic;
	text-indent: 2em;
}

label i {
	color: red;
}

.hidden {
	display: none;
}

.hidden.content {
	display: block;
}
/*Theme*/

nav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	width: 100%;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
}

nav:hover {
	background-color: rgba(0, 0, 0, .6);
}

nav .left {
	float: left;
}

nav .right {
	float: right;
}

#Logo {
	height: 32px;
	width: 32px;
	background-color: gray;
	color: white;
	/**/
	
	font-size: 0.8em;
	text-align: center;
	line-height: 32px;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
}

nav:hover #Logo {
	background-color: silver;
}

footer {
	z-index: 100;
	position: relative;
	bottom: 0;
	left: 0;
	margin: 10vh 0;
	padding: 5vh 0;
	color: white;
	text-align: center;
	line-height: 32px;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
}

footer:hover {
	background-color: rgba(0, 0, 0, .6);
}
/*Structure*/

.page {
	padding: 10vh 0;
	width: 100%;
	background: transparent;
}

.chip {
	width: 100%;
	max-width: 767px;
	margin: 0 auto;
	padding: 16px;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 8px;
	overflow-y: auto;
	box-shadow: 0 8px 16px #212121;
}
/*Components*/

.blank {
	height: 50vh;
}

#Cover {
	min-height: 700px;
	height: 100vh;
}

#Cover #signUpButton {
	position: absolute;
	left: 50%;
	bottom: 10vh;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

#signUpButton .button {
	border-radius: 16px;
}

#Intro {
	/*background-color: #0D47A1;*/
}

#Staff {
	/*background-color: #1A237E;*/
}

#Staff .ui.cards {
	margin: 0 auto;
}

#Sign {
	padding-bottom: 0;
	/*background-color: #263238;*/
}
/*Pages*/
