/* theme settings*/

body,
#Cover {
	background-attachment: fixed;
	background-size: cover;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-image: url('../img/bg.jpg');
}

#Cover {
	background-image: url('	../img/cover.png');
}

a {
	text-decoration: none;
}

iframe {
	border: none;
}

p {
	margin-bottom: .7em;
	line-height: 1.7em;
	text-align: justify;
	text-justify: ideographic;
}

p.meta,
span.meta {
	font-size: .8em;
	color: gray;
}

p.notice,
span.notice,
strong,
em {
	color: #9C27B0;
}

h1,
h3,
hr {
	clear: both;
}

table {
	width: 100%;
}

.hidden {
	display: none;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 14px;
	border-bottom: 3px gray solid;
}


/* Custom Components */

.wait {
	opacity: 0;
}

.message {
	height: 20em;
	max-height: 40vh;
	overflow-x: visible;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 16px;
	background-color: white;
	border-bottom: 4px solid #2196F3;
	border-radius: 8px;
	line-height: 0;
}

.group {
	padding-bottom: 16px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}

.button-group {
	height: 64px;
	line-height: 64px;
}

.card {
	margin: 16px;
	border-bottom: 4px #1976D2 solid;
	padding: 16px;
	width: 200px;
	display: inline-block;
	background-color: white;
	box-shadow: 0 4px 8px #BBB;
	border-radius: 8px;
}

.row img,
.group img {
	width: 100%;
	max-width: 250px;
}

.page {
	padding: 128px 0;
}

.page > .container {
	padding: 3vw 2vw;
	width: 95%;
	background-color: #EEE;
}

.page > .container > h1 {
	border-bottom: 2px #BA68C8 solid;
}

.page > .container > hr {
	border-color: #AAA;
}

.page.blank {
	padding: 0;
	height: 100vh;
}


/* Cover page */

#Cover {
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

#Cover > .container {
	margin-top: 10vh;
	padding: 1vw;
	color: white;
	background-color: rgba(0, 0, 0, .6);
	transition: background-color .2s linear;
}

#Cover > .container:hover {
	background-color: rgba(0, 0, 0, .8);
}

#Cover > .container h1 {
	margin-bottom: 0;
	padding: 8px 0;
	color: lightblue;
	border-bottom: white 1px solid;
}

@media (min-width: 550px) {
	#Cover > .container h1 {
		font-size: 4rem;
	}
}

#Cover > .container h3 {
	margin: 0;
}

#Cover > .container p {
	margin-bottom: .7em;
	line-height: 1.7em;
	text-align: center;
}

#Cover > .container li {
	text-align: left;
}

#icon {
	width: 2em;
	height: 2em;
}


/* navigator */

nav {
	z-index: 10;
	position: absolute;
	bottom: 0;
	border-top: 6px #0D47A1 solid;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
	transition: background-color .2s linear;
}

nav:hover {
	background-color: rgba(0, 0, 0, 1);
}

nav.fixed {
	position: fixed;
	top: 0;
	box-shadow: 0 4px 8px #444;
}

nav a.link {
	margin: 0 1vw;
	padding: 0 1vw;
	font-size: 1.2em;
	color: #BBDEFB;
}


/* News page */

#News .group {
	border-radius: 8px;
}

#News .news {
	border-bottom: 4px #2196F3 solid;
	background-color: white;
}

#News .news .title {
	font-size: 1.5em;
	padding: 16px;
	color: purple;
}

#News .title:hover {
	background-color: #DDD;
}

#News .title.active {
	border-bottom: 2px gray dashed;
}

#News .news .content {
	padding: 16px;
	overflow: auto;
	display: none;
}


/* Intro page */

#Intro table th,
#Intro table td {
	border-color: silver;
}


/* Staff page */

#Staff .like.fa-heart-o {
	color: #64B5F6;
}

#Staff .like.fa-heart {
	color: #2196F3;
}

#Staff .like:hover {
	color: #1976D2;
}

#Staff .like.fa-heart-o:hover:after {
	font-family: "Comic Sans MS", cursive, sans-serif;
	content: " Click";
}

#Staff .like.fa-heart:hover:after {
	font-family: "Comic Sans MS", cursive, sans-serif;
	content: " Like";
}

#Staff .tab {
	border: 2px gray dashed;
	padding: 16px;
}


/* Sign Up page */

#Sign label {
	margin-top: 15px;
}

#Sign label i {
	color: red;
}

#Sign input[type="text"],
#Sign select,
#Sign textarea {
	margin: 0;
	width: 100%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#Sign textarea {
	max-width: 100%;
	height: 10em;
}

#Sign .error {
	border: 1px solid #F44336;
	background-color: #FFCDD2;
}

footer {
	padding: 16px 0;
	color: white;
	background-color: black;
}

footer p {
	margin-bottom: 0;
}
