body {
	font-family: Helvetica, Arial, sans-serif;
	background-attachment: fixed;
	background-image: url('../img/dark_embroidery.png');
}

#board {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#Cover {
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

#Cover > .container {
	margin-top: 20vh;
	padding: 64px 32px;
	box-sizing: border-box;
	background: linear-gradient(120deg, #444, #888);
	background: -moz-linear-gradient(120deg, #444, #888);
	background: -webkit-linear-gradient(120deg, #444, #888);
	text-align: center;
}

#Cover > .container h1 {
	padding: 8px 0;
	color: lightblue;
	border-bottom: white 1px solid;
}

#Cover > .container h3 {
	color: white;
	margin: 0;
}

#Cover > .container p {
	margin: 0 0 .7em 0;
	line-height: 1.7em;
	color: white;
}

.box {
	height: 10vw;
	width: 10vw;
	float: left;
	background-color: #EEE;
}
